<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Description: {{description}}</p>
  </div>
  <div class="card-body">
    <a href="#" class="btn btn-primary" id="useCard">Use Card</a>
    <a href="#" class="btn btn-primary" id="skipCard">Skip Card</a>
    <a href="#" class="btn btn-primary" id="chooseAnother">Choose Another Card</a>
  </div>
</div>