<div class="card" style="width: 18rem;">
  {{!-- <img src="..." class="card-img-top" alt="..."> --}}
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Description: {{description}}</p>
  </div>
  <div class="card-body">
    <button class="btn btn-primary useCard" id="useCard" data-action_effect="{{actionEffect}}" data-card_id="{{id}}">Use Card</button>
    <button class="btn btn-primary" id="skipCard">Skip Card</button>
    <button class="btn btn-primary" id="chooseAnother">Choose Another Card</button>
  </div>
</div>