<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Wonderland</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <span role="img" aria-label="cat">😺</span><h1>Cat Wonderland</h1>
  </header>
  <main>
    <aside>
      <h2>Click on a forum post and join in on the conversation!</h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>  
  <script src="/js/playcard.js"></script>
  <script src="/js/discardcard.js"></script>
  {{#unless gameHasStarted}}
    <script src="/js/startgame.js"></script>
  {{/unless}}
</body>
</html>