<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Wonderland</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-centeer p-2">
            <h1>
                <span role="img" aria-label="cat">😺</span>
                <a href="/">Cat Wonderland</a>
            </h1>
            <nav>
                {{#if logged_in}}
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header> 
        <main class="container-fluid mt-5">
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"</script></script>
    {{/if}}
    <script src="/js/startgame.js"></script>
  </main>  
  <script src="/js/playcard.js"></script>
  <script src="/js/discardcard.js"></script>
  {{#unless gameHasStarted}}
    <script src="/js/startgame.js"></script>
  {{/unless}}
</body>
</html>