<section class="container">
  <button class="btn btn-primary" id="startGame">Start Game</button>
  {{#each cards as |card|}}
    {{> card-details}}
  {{/each}}
  
  {{#each cats as |cat|}}
    {{> cat-details}}
  {{/each}}
</section>