<section class="container">
  {{#unless gameHasStarted}}<button class="btn btn-primary" id="startGame">Start Game</button>{{/unless}}
  {{#each cards as |card|}}
    {{> card-details enableDrawCards=../maxCardsInHand}}
  {{/each}}
  
  {{#each cats as |cat|}}
    {{> cat-details}}
  {{/each}}

  <p>{{maxCardsInHand}}</p>
</section>