<section class="container">
  {{#if loggedIn}}
    <p>Game turns: {{gameTurns}}</p>
    {{#unless gameHasStarted}}<button class="btn btn-primary" id="startGame">Start Game</button>{{/unless}}
    {{#each cards as |card|}}
      {{> card-details enableDrawCards=../maxCardsInHand enableDiscardCards=../oneCardHand}}
    {{/each}}
    
    {{#each cats as |cat|}}
      {{> cat-details}}
    {{/each}}
    <button id="discard-button">Discard</button>
    
  {{/if}}
</section>