<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <script src="jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-centeer p-2">
            <h1>
                <span role="img" aria-label="cat">😺</span>
                <a href="/">Cat Wonderland</a>
            </h1>
            <nav>
                {{#if logged_in}}
                <a href="/profile">profile</a>
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header> 
        <main class="container-fluid mt-5">
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"</script></script>
</body>
</html>